<a href="https://colab.research.google.com/github/ArulrajGopal/Spark-Guide/blob/main/04_Converting_df_into_rdd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

from pyspark.sql import SparkSession

#create spark session
spark= SparkSession.builder.appName('mysparksession').getOrCreate()

#create spark context
sc = spark.sparkContext

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=05ef6ee4ca51e4e9acecae72b913782bc4fec121bdc9475a70c437905655f43d
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

## Converting DF into RDD

In [ ]:
data = [
    ("John", 28, "New York"),
    ("Jane", 24, "San Francisco"),
    ("Bob", 22, "Los Angeles"),
    ("Alice", 30, "Chicago")
]

Columns = ["Name", "Age","City" ]


df = spark.createDataFrame(data, Columns)


df.show()

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
| John| 28|     New York|
| Jane| 24|San Francisco|
|  Bob| 22|  Los Angeles|
|Alice| 30|      Chicago|
+-----+---+-------------+

In [ ]:
coverted_rdd = df.rdd

In [ ]:
coverted_rdd.take(10)

[Row(Name='John', Age=28, City='New York'),
 Row(Name='Jane', Age=24, City='San Francisco'),
 Row(Name='Bob', Age=22, City='Los Angeles'),
 Row(Name='Alice', Age=30, City='Chicago')]