<a href="https://colab.research.google.com/github/ArulrajGopal/Spark-Guide/blob/main/GogCol/08_filter_select_drop_dropdup_dropna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

from pyspark.sql import SparkSession

#create spark session
spark= SparkSession.builder.appName('mysparksession').getOrCreate()

#create spark context
sc = spark.sparkContext

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=80ba65593d91adc4f62709520b3d10e27eded968474c84e0174febbd2623785d
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
data = [
    ("John", 28, "New York"),
    ("Jane", 24, "San Francisco"),
    ("Bob", 22, "Los Angeles"),
    ("Alice", 30, "Chicago"),
    ("Jane", 24, "San Francisco"),
    ("Alice", 70, "Tokyo"),
    ("Vievk",34, None)
]

columns = ["Name", "Age","City" ]


df = spark.createDataFrame(data, columns)


df.show()

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
| John| 28|     New York|
| Jane| 24|San Francisco|
|  Bob| 22|  Los Angeles|
|Alice| 30|      Chicago|
| Jane| 24|San Francisco|
|Alice| 70|        Tokyo|
|Vievk| 34|         NULL|
+-----+---+-------------+

In [ ]:
from pyspark.sql.functions import col, max

In [ ]:
df1 = df.filter(col("Age") > 25)
df1.show()

+-----+---+--------+
| Name|Age|    City|
+-----+---+--------+
| John| 28|New York|
|Alice| 30| Chicago|
|Alice| 70|   Tokyo|
|Vievk| 34|    NULL|
+-----+---+--------+

In [ ]:
df2 = df.select("Name","Age")
df2.show()

+-----+---+
| Name|Age|
+-----+---+
| John| 28|
| Jane| 24|
|  Bob| 22|
|Alice| 30|
| Jane| 24|
|Alice| 70|
|Vievk| 34|
+-----+---+

In [ ]:
df3 = df.drop("Age")
df3.show()

+-----+-------------+
| Name|         City|
+-----+-------------+
| John|     New York|
| Jane|San Francisco|
|  Bob|  Los Angeles|
|Alice|      Chicago|
| Jane|San Francisco|
|Alice|        Tokyo|
|Vievk|         NULL|
+-----+-------------+

In [ ]:
df.show()

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
| John| 28|     New York|
| Jane| 24|San Francisco|
|  Bob| 22|  Los Angeles|
|Alice| 30|      Chicago|
| Jane| 24|San Francisco|
|Alice| 70|        Tokyo|
|Vievk| 34|         NULL|
+-----+---+-------------+

In [ ]:
df4 = df.dropDuplicates()
df5 = df.dropDuplicates(["Name"])
df4.show()
df5.show()

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
| Jane| 24|San Francisco|
| John| 28|     New York|
|  Bob| 22|  Los Angeles|
|Alice| 70|        Tokyo|
|Alice| 30|      Chicago|
|Vievk| 34|         NULL|
+-----+---+-------------+

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
|Alice| 30|      Chicago|
|  Bob| 22|  Los Angeles|
| Jane| 24|San Francisco|
| John| 28|     New York|
|Vievk| 34|         NULL|
+-----+---+-------------+

In [ ]:
df6 = df.dropna()

In [ ]:
df6.count()

6

In [ ]:
df5.show()

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
|Alice| 30|      Chicago|
|  Bob| 22|  Los Angeles|
| Jane| 24|San Francisco|
| John| 28|     New York|
|Vievk| 34|         NULL|
+-----+---+-------------+

In [ ]:
#1
final_df = df5.dropna().filter(col("age")>24)

In [ ]:
final_df.show()

+-----+---+--------+
| Name|Age|    City|
+-----+---+--------+
|Alice| 30| Chicago|
| John| 28|New York|
+-----+---+--------+

In [ ]:
dataDF = [(('James','','Smith'),'1991-04-01','M',3000),
  (('Michael','Rose',''),'2000-05-19','M',4000),
  (('Robert','','Williams'),'1978-09-05','M',4000),
  (('Maria','Anne','Jones'),'1967-12-01','F',4000),
  (('Jen','Mary','Brown'),'1980-02-17','F',-1)
]

structureSchema = StructType([
        StructField('name', StructType([
             StructField('firstname', StringType(), True),
             StructField('middlename', StringType(), True),
             StructField('lastname', StringType(), True)
             ])),
         StructField('id', StringType(), True),
         StructField('gender', StringType(), True),
         StructField('salary', IntegerType(), True)
         ])

df2 = spark.createDataFrame(dataDF,structureSchema)
df2.printSchema()
df2.show(truncate=False)

In [ ]:
df.withColumnRenamed("dob","DateOfBirth").show()

In [ ]:
df.withColumn("fname",col("name.firstname")) \
      .withColumn("mname",col("name.middlename")) \
      .withColumn("lname",col("name.lastname")) \
      .drop("name")\
      .show()

In [ ]:
df.withColumn("timestamp_column", current_timestamp())\
 .withColumn("salary",col("Salary")/10)\
 .show(truncate=False)