<a href="https://colab.research.google.com/github/ArulrajGopal/Spark-Guide/blob/main/GogCol/13_dropduplicates_fillna_dropna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install pyspark

from pyspark.sql import SparkSession

#create spark session
spark= SparkSession.builder.appName('mysparksession').getOrCreate()

#create spark context
sc = spark.sparkContext

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [28]:
data = [
    ("John", 28, "New York"),
    ("Jane", 24, "San Francisco"),
    ("Bob", 22, "Los Angeles"),
    ("Alice", None, "Chicago"),
    ("Jane", 24, "San Francisco"),
    ("Alice", 70, "Tokyo"),
    ("Vievk",34, None)
]

columns = ["Name", "Age","City" ]


df = spark.createDataFrame(data, columns)
df.show()

+-----+----+-------------+
| Name| Age|         City|
+-----+----+-------------+
| John|  28|     New York|
| Jane|  24|San Francisco|
|  Bob|  22|  Los Angeles|
|Alice|NULL|      Chicago|
| Jane|  24|San Francisco|
|Alice|  70|        Tokyo|
|Vievk|  34|         NULL|
+-----+----+-------------+

In [29]:
df.dropDuplicates().show()
df.dropDuplicates(["Name"]).show()

+-----+----+-------------+
| Name| Age|         City|
+-----+----+-------------+
| Jane|  24|San Francisco|
| John|  28|     New York|
|  Bob|  22|  Los Angeles|
|Alice|  70|        Tokyo|
|Alice|NULL|      Chicago|
|Vievk|  34|         NULL|
+-----+----+-------------+

+-----+----+-------------+
| Name| Age|         City|
+-----+----+-------------+
|Alice|NULL|      Chicago|
|  Bob|  22|  Los Angeles|
| Jane|  24|San Francisco|
| John|  28|     New York|
|Vievk|  34|         NULL|
+-----+----+-------------+

In [30]:
df.dropna().show()

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
| John| 28|     New York|
| Jane| 24|San Francisco|
|  Bob| 22|  Los Angeles|
| Jane| 24|San Francisco|
|Alice| 70|        Tokyo|
+-----+---+-------------+

In [33]:
df.fillna(0).show()
df.fillna("NA").show()
df.fillna({'age': 40, 'City': 'unknown'}).show()

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
| John| 28|     New York|
| Jane| 24|San Francisco|
|  Bob| 22|  Los Angeles|
|Alice|  0|      Chicago|
| Jane| 24|San Francisco|
|Alice| 70|        Tokyo|
|Vievk| 34|         NULL|
+-----+---+-------------+

+-----+----+-------------+
| Name| Age|         City|
+-----+----+-------------+
| John|  28|     New York|
| Jane|  24|San Francisco|
|  Bob|  22|  Los Angeles|
|Alice|NULL|      Chicago|
| Jane|  24|San Francisco|
|Alice|  70|        Tokyo|
|Vievk|  34|           NA|
+-----+----+-------------+

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
| John| 28|     New York|
| Jane| 24|San Francisco|
|  Bob| 22|  Los Angeles|
|Alice| 40|      Chicago|
| Jane| 24|San Francisco|
|Alice| 70|        Tokyo|
|Vievk| 34|      unknown|
+-----+---+-------------+