<a href="https://colab.research.google.com/github/arulrajgopal-zerotoone/zero_to_one_spark/blob/main/02_create_rdd_dataframe_and_conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

from pyspark.sql import SparkSession

#create spark session
spark= SparkSession.builder.appName('mysparksession').getOrCreate()

#create spark context
sc = spark.sparkContext

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=414253caaea1bba9afd9666c829da468844d767d95fbced2a9b265f8b8d24f4f
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

#Create a RDD

In [8]:
data = [('Alice', 25), ('Bob', 30), ('Charlie', 28)]
rdd = sc.parallelize(data)
rdd.collect()

[('Alice', 25), ('Bob', 30), ('Charlie', 28)]

In [9]:
print(type(rdd))

<class 'pyspark.rdd.RDD'>

#Create a Dataframe

In [10]:
data = [
    ("John", 28, "New York"),
    ("Jane", 24, "San Francisco"),
    ("Bob", 22, "Los Angeles"),
    ("Alice", 30, "Chicago")
]

columns = ["Name", "Age","City" ]


df = spark.createDataFrame(data, columns)


df.show()

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
| John| 28|     New York|
| Jane| 24|San Francisco|
|  Bob| 22|  Los Angeles|
|Alice| 30|      Chicago|
+-----+---+-------------+

#Convert df into rdd