<a href="https://colab.research.google.com/github/arulrajgopal-zerotoone/zero_to_one_spark/blob/main/apache_spark/02_create_rdd_dataframe_and_conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

from pyspark.sql import SparkSession

#create spark session
spark= SparkSession.builder.appName('mysparksession').getOrCreate()

#create spark context
sc = spark.sparkContext

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=1ae323526119cb9c0261dd144dd408e487593a03215f3e8d22d84ac15eef3ede
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

#Create a RDD

In [ ]:
data = [('Alice', 25), ('Bob', 30), ('Charlie', 28)]
rdd = sc.parallelize(data)
rdd.collect()

[('Alice', 25), ('Bob', 30), ('Charlie', 28)]

In [ ]:
print(type(rdd))

<class 'pyspark.rdd.RDD'>

#Create a Dataframe

In [3]:
#using createDataFrame
data = [
    ("John", 28, "New York"),
    ("Jane", 24, "San Francisco"),
    ("Bob", 22, "Los Angeles"),
    ("Alice", 30, "Chicago")
]

columns = ["Name", "Age","City" ]


df = spark.createDataFrame(data, columns)


df.show()

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
| John| 28|     New York|
| Jane| 24|San Francisco|
|  Bob| 22|  Los Angeles|
|Alice| 30|      Chicago|
+-----+---+-------------+

In [4]:
#using range
df1 = spark.range(0)
df1.show()

+---+
| id|
+---+
+---+

In [6]:
#create empty df
from pyspark.sql.types import StructType,StructField, StringType, IntegerType


schema = StructType([
    StructField("Name", StringType(), True),
    StructField("Age", IntegerType(), True)
])


empty_df = spark.createDataFrame([], schema)

empty_df.show()

+----+---+
|Name|Age|
+----+---+
+----+---+

#Convert df into rdd

In [ ]:
coverted_rdd = df.rdd

coverted_rdd.collect()

[Row(Name='John', Age=28, City='New York'),
 Row(Name='Jane', Age=24, City='San Francisco'),
 Row(Name='Bob', Age=22, City='Los Angeles'),
 Row(Name='Alice', Age=30, City='Chicago')]

In [ ]:
coverted_rdd.take(2)

[Row(Name='John', Age=28, City='New York'),
 Row(Name='Jane', Age=24, City='San Francisco')]

#convert rdd into df

In [ ]:
rdd.collect()

[('Alice', 25), ('Bob', 30), ('Charlie', 28)]

In [ ]:
df_from_rdd = rdd.toDF()
df_from_rdd.show()

+-------+---+
|     _1| _2|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 28|
+-------+---+