<a href="https://colab.research.google.com/github/arulrajgopal-zerotoone/zero_to_one_spark/blob/main/apache_spark/06_filter_select_drop_withCol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

from pyspark.sql import SparkSession

#create spark session
spark= SparkSession.builder.appName('mysparksession').getOrCreate()

#create spark context
sc = spark.sparkContext

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=7f0e69838ff6f9e93c1f05e0a66fc8ff2b214a3a5c1a14feeaeb651fe77ac625
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [2]:
data = [
    ("John", 28, "New York"),
    ("Jane", 24, "San Francisco"),
    ("Bob", 22, "Los Angeles"),
    ("Alice", 30, "Chicago"),
    ("Jane", 24, "San Francisco"),
    ("Alice", 70, "Tokyo"),
    ("Vievk",34, None)
]

columns = ["Name", "Age","City" ]


df = spark.createDataFrame(data, columns)


df.show()

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
| John| 28|     New York|
| Jane| 24|San Francisco|
|  Bob| 22|  Los Angeles|
|Alice| 30|      Chicago|
| Jane| 24|San Francisco|
|Alice| 70|        Tokyo|
|Vievk| 34|         NULL|
+-----+---+-------------+

In [3]:
from pyspark.sql.functions import col, max

In [22]:
df.filter(col("Age") > 25).show()

+-----+---+--------+
| Name|Age|    City|
+-----+---+--------+
| John| 28|New York|
|Alice| 30| Chicago|
|Alice| 70|   Tokyo|
|Vievk| 34|    NULL|
+-----+---+--------+

In [21]:
df.select("Name","Age").show()

+-----+---+
| Name|Age|
+-----+---+
| John| 28|
| Jane| 24|
|  Bob| 22|
|Alice| 30|
| Jane| 24|
|Alice| 70|
|Vievk| 34|
+-----+---+

In [20]:
df.drop("Age").show()

+-----+-------------+
| Name|         City|
+-----+-------------+
| John|     New York|
| Jane|San Francisco|
|  Bob|  Los Angeles|
|Alice|      Chicago|
| Jane|San Francisco|
|Alice|        Tokyo|
|Vievk|         NULL|
+-----+-------------+

In [23]:
df.withColumn("Age", col("Age") + 1).show()

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
| John| 29|     New York|
| Jane| 25|San Francisco|
|  Bob| 23|  Los Angeles|
|Alice| 31|      Chicago|
| Jane| 25|San Francisco|
|Alice| 71|        Tokyo|
|Vievk| 35|         NULL|
+-----+---+-------------+

In [24]:
df.withColumnRenamed("Name", "Full Name").show()

+---------+---+-------------+
|Full Name|Age|         City|
+---------+---+-------------+
|     John| 28|     New York|
|     Jane| 24|San Francisco|
|      Bob| 22|  Los Angeles|
|    Alice| 30|      Chicago|
|     Jane| 24|San Francisco|
|    Alice| 70|        Tokyo|
|    Vievk| 34|         NULL|
+---------+---+-------------+